<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssetsTracker | Manager Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full flex h-screen">
        <div class="w-2/12 border flex flex-col justify-between">
            <div class="flex flex-col ">
                <div class="text-center py-7">
                    <a href="" class="text-2xl font-bold text-teal-700 tracking-wider">ꍏꌗꌗꍟ꓄ꌗ<span class="text-slate-700">꓄ꋪꍏꉓꀘꍟꋪ</span></a>
                    <p class="text-sm text-slate-500">Assets Tracking System</p>
                </div>
                <div class="flex flex-col gap-3 p-3 text-slate-700 font-medium">
                    <a class="bg-teal-100 px-5 py-4 border-l-8 border-teal-400 rounded-md" href="">Dashboard</a>
                    <a class="px-6 py-4" href="">Add Assets</a>
                    <a class="px-6 py-4" href="">Add User</a>
                </div>
            </div>
            <div class="px-4 py-4 font-medium text-slate-700">
                <a class="bg-red-100 px-6 py-4 border-l-8 border-red-400 rounded-md flex items-center gap-2 " href="">Logout
                    <svg width="10%" height="10%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 21V3M3 12H17M17 12L10 5M17 12L10 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>










        <div class="w-10/12 border bg-slate-50">
            <div class="flex justify-between px-10 font-bold  py-6">
                <h1 class="text-3xl ">Dashboard</h1>
                <a href="" class="text-sm w-44 flex items-center justify-center font-semibold text-slate-500 hover:text-teal-700">
                    <svg width="30%" height="30%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.3163 19.4384C5.92462 18.0052 7.34492 17 9 17H15C16.6551 17 18.0754 18.0052 18.6837 19.4384M16 9.5C16 11.7091 14.2091 13.5 12 13.5C9.79086 13.5 8 11.7091 8 9.5C8 7.29086 9.79086 5.5 12 5.5C14.2091 5.5 16 7.29086 16 9.5ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Manager</span></a>
            </div>

        </div>
    </div>
    
    


    
</body>
</html>
