<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssetsTracker | Manager Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="h-[10vh] bg-white border-b border-slate-200 px-8 flex items-center gap-10">
        <div class="text-center ">
            <a href="" class="text-2xl flex gap-1 font-bold text-rose-500 tracking-wider">ASSETS <span class="text-slate-700 font-medium">TRACKER</span></a>
        </div>
        <div class="flex w-full justify-between items-center">
        <div class="py-5">
            <p class="text-rose-600 text-xl font-bold tracking-widest uppercase">welcome back, user !</p>
        </div>
        <div class="flex items-center gap-3 py-3 border-l-2 px-5">
            <svg class="h-5 w-5 text-slate-600" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 15.8369C19.4559 16.5683 20.7041 17.742 21.6152 19.2096C21.7956 19.5003 21.8858 19.6456 21.917 19.8468C21.9804 20.2558 21.7008 20.7585 21.3199 20.9204C21.1325 21 20.9216 21 20.5 21M16 11.5322C17.4817 10.7959 18.5 9.26686 18.5 7.5C18.5 5.73314 17.4817 4.20411 16 3.46776M14 7.5C14 9.98528 11.9852 12 9.49996 12C7.01468 12 4.99996 9.98528 4.99996 7.5C4.99996 5.01472 7.01468 3 9.49996 3C11.9852 3 14 5.01472 14 7.5ZM2.55919 18.9383C4.1535 16.5446 6.66933 15 9.49996 15C12.3306 15 14.8464 16.5446 16.4407 18.9383C16.79 19.4628 16.9646 19.725 16.9445 20.0599C16.9289 20.3207 16.7579 20.64 16.5495 20.7976C16.2819 21 15.9138 21 15.1776 21H3.82232C3.08613 21 2.71804 21 2.4504 20.7976C2.24201 20.64 2.07105 20.3207 2.05539 20.0599C2.03529 19.725 2.20992 19.4628 2.55919 18.9383Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>
                <h3 class="text-sm text-slate-600 font-semibold"> Shivam</h3>
                <p class="text-xs text-slate-300 font-medium tracking-wide">Authorized User</p>
            </span>
        </div>
        </div>
    </header>

    <div class="w-full flex h-[90vh]">
        {% include "sidebar.html" %}

        <div class="w-10/12 border bg-slate-50/10 p-5">

            <grid class="grid grid-cols-4 gap-7 px-10 mt-5">
                <a class="bg-white p-6 rounded-lg flex flex-col gap-2 shadow" href="">
                    <h3 class="text-slate-600 text-md font-semibold">Total assets</h3>
                    <h2 class="text-5xl font-bold text-rose-600 ">{{total_asset}}</h2>
                    <p class="text-xs font-medium text-slate-400">All Registered Assets</p>
                </a>

                <a class="bg-white p-6 rounded-lg flex flex-col gap-2 shadow" href="">
                    <h3 class="text-slate-600 text-md font-semibold">Assigned Assets</h3>
                    <h2 class="text-5xl font-bold text-rose-600 ">25</h2>
                    <p class="text-xs font-medium text-slate-400">Currently Assigned</p>
                </a>

                <a class="bg-white p-6 rounded-lg flex flex-col gap-2 shadow" href="">
                    <h3 class="text-slate-600 text-md font-semibold">Available Assets</h3>
                    <h2 class="text-5xl font-bold text-rose-600 ">25</h2>
                    <p class="text-xs font-medium text-slate-400">Ready to Assigned</p>
                </a>

                <a class="bg-white p-6 rounded-lg flex flex-col gap-2 shadow" href="">
                    <h3 class="text-slate-600 text-md font-semibold">Maintainance</h3>
                    <h2 class="text-5xl font-bold text-rose-600 ">25</h2>
                    <p class="text-xs font-medium text-slate-400">Required Attentions</p>
                </a>

            </grid>



            <div class="flex flex-col gap-3 mt-7 p-5 border rounded-lg m-10">
                <h2 class="text-slate-600 font-bold px-3 border-l-4 border-rose-400">Quick Actions</h2>
                <grid class="grid grid-cols-3 gap-7">
                    <a class="text-lg font-semibold text-slate-900 bg-white py-6 text-center rounded-lg flex flex-col gap-2 shadow hover:bg-rose-50 hover:shadow-lg" href="{% url "user:assign_assets" %}">
                        Assign Asset
                    </a>

                    <a class="text-lg font-semibold text-slate-900 bg-white py-6 text-center rounded-lg flex flex-col gap-2 shadow hover:bg-rose-50 hover:shadow-lg" href="{% url "user:my_assets" %}">
                        View Assets
                    </a>

                    <a class="text-lg font-semibold text-slate-900 bg-white py-6 text-center rounded-lg flex flex-col gap-2 shadow hover:bg-rose-50 hover:shadow-lg" href="{% url "user:asset_history" %}">
                        Assign History
                    </a>

                </grid>
            </div>


            <div class="px-10">
                <div class="w-full bg-white border border-slate-200 rounded-xl">
                    <div class="p25 py-4 border-b border-slate-200 flex items-center px-5">
                        <h2 class="text-xl font-semibold text-slate-700 font-bold px-3 mx- border-l-4 border-rose-400">Recently Added Assets</h2>
                    </div>

                    <table class="w-full">
                        <thead>
                            <tr class="bg-slate-50 border-b border-slate-200 font-semibold text-xs text-slate-500 uppercase">
                                <th class="px-6 py-4 text-center">ID</th>
                                <th class="px-6 py-4 text-center">Name</th>
                                <th class="px-6 py-4 text-center">Category</th>
                                <th class="px-6 py-4 text-center">Brand</th>
                                <th class="px-6 py-4 text-center">Model</th>
                                <th class="px-6 py-4 text-center">Condition</th>
                                <th class="px-6 py-4 text-center">Status</th>
                            </tr>
                        </thead>
                        
                        <tbody class="">
                            {% for asset in assets %}
                            <tr class="border-b text-center">
                                <td class="px-6 py-4 text-sm font-medium text-slate-500">#{{asset.assetId}}</td>
                                <td class="px-6 py-4">
                                    <p class="text-md font-semibold text-slate-700">{{asset.asset_name}}</p>
                                </td>
                                <td class="px-6 py-4">
                                    <p class="text-sm text-slate-500">{{asset.category}}</p>
                                </td>
                                <td class="px-6 py-4">
                                    <p class="text-sm text-slate-500">{{asset.brand}}</p>
                                </td>
                                <td class="px-6 py-4">
                                    <p class="text-sm text-slate-500">{{asset.model}}</p>
                                </td>
                                <td class="px-6 py-4">
                                    <p class="text-sm text-slate-500">{{asset.condition}}</p>
                                </td>
                                <td class="px-6 py-4">
                                    <p class="text-sm text-slate-500">{{asset.status}}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
            
            
        </div>

    </div>
    

</body>
</html>
